.banner {
    display: flex;
    justify-content: center;

    &__bg {
        background-repeat: no-repeat;
        background-blend-mode: darken;
        height: 223px;
        width: 100%;
        border-radius: 25px;
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__heading {
        font-weight: 500;
        font-size: 48px;
        line-height: 68.45px;
        color: white;
       
    }
    &__home{
      background : center / cover no-repeat url(../assets/img/bannerHome.svg), center / cover no-repeat url(../assets/img/Background.png);

    }
    &__about{
      background : center / cover no-repeat url(../assets/img/bannerAbout.png), center / cover no-repeat url(../assets/img/Background.png);

    }
    @media #{$mobile}{
        &__heading {
           margin-left: 16px;
            font-weight: 100;
            font-size: 34px;
            line-height: 24px;
            width: 263px;   
        }
        &__bg{
            height: 161px;
            display: flex;
            justify-content: flex-start;

        }
    }
}