.tag {
    background: $primary;
    padding: 2px 15px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 21px;
    width: auto;
    margin: 0 5px;

}